<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summersky.mybatispluspage.page.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.summersky.mybatispluspage.page.entity.Users">
        <id column="id" property="id" />
        <result column="names" property="names" />
        <result column="job" property="job" />
        <result column="difficulty" property="difficulty" />
        <result column="popularity" property="popularity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, names, job, difficulty, popularity
    </sql>

</mapper>
